  color: #0f0f0f; /* Light mode text color */
}

nav {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  z-index: 10; /* Ensure nav links are on top */
}

.links a {
  color: #f0f0f0;
  margin-left: 20px;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s;
}

.links a:hover {
  color: #58a6ff;
}

#theme-toggle {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: inherit; /* Match text color */
  margin-left: 20px; /* Spacing between links and button */
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1; /* Ensure container content is on top of cursor */
}

.content h1 {
  font-size: 56px; /* Increase font size for header */
  margin-bottom: 20px; /* Adjust margin for better spacing */
}

.content p {
  font-size: 28px; /* Increase font size for paragraph */
  margin-top: 20px; /* Adjust margin for better spacing */
}

.highlight {
  color: #58a6ff;
  position: relative;
}

.highlight:hover {
  text-shadow: 0 0 10px rgba(88, 166, 255, 0.7), 0 0 20px rgba(88, 166, 255, 0.5);
}

/* Typing animation styles */
.animated-text {
  display: inline-block;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  border-right: 4px solid #58a6ff; /* Visible cursor */
  animation: blink-caret 0.75s step-end infinite; /* Blink cursor */
}

/* Keyframes for typing effect */
@keyframes typing {
  from { width: 0; }
  to { width: 100%; } /* Adjusts to text length */
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: #58a6ff; }
}

